table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .btn {
    border: none;
    background-color:inherit;
    padding: 14px 28px;
    font-size: 50px;
    cursor: pointer;
    display: inline-block;
  }
  
  .info {
    background-color: #65baff;
    color: rgb(231, 50, 50);
  }
  
  .info:hover {
    background: #2196F3;
    color: black;
  }
  
 
  
