body {
  background-image: url("../images/bgbg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* .container {
    position: relative;
    margin-top: 11vh;
    margin-bottom: 15vh;
}
form {
    margin-left: 25%;
    background: rgba(185, 213, 255, 0.329);
    padding: 3em;
    height: 370px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 50%;
}
form p {
    font-weight: 500;
    color: #0a66c2;
    opacity: 0.8;
    font-size: large;
    margin-top: 0;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
form a {
    text-decoration: none;
    color: #0a66c2;
    font-size: medium;
}
form a:hover {
    text-shadow: 2px 2px 6px #0a66c2 40;
}
form a:active {
    text-shadow: none;
}
form input {
    
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(168, 168, 168, 0.2);
    color: #0a66c2;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
form input:hover {
    background: rgb(255, 255, 255);
    box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.2);
}
form input[type="email"]:focus, form input[type="password"]:focus {
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
form input[type="button"] {
    margin-top: 10px;
    width: 170px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(119, 167, 255);
    color: white;
    
}
form input[type="button"]:hover {
    cursor: pointer;
}
form input[type="button"]:active {
    background: rgb(255, 255, 255);
}

::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: medium;
    color: #0a66c2;
}
.drop {
    background: rgba(255, 255, 255, 0.185); 
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: all 0.2s ease;
}
.drop-1 {
    height: 120px;
    width: 120px;
    top: -20px;
    left: -40px;
    z-index: 10;
  background-size: contain; 
  background-repeat: no-repeat;
}
.drop-3 {
    height: 70px;
    width: 70px;
    bottom: 190px;
    right: 80px;
    z-index: 10;
  background-size: contain; 
  background-repeat: no-repeat;
}
.drop-4 {
    height: 100px;
    width: 100px;
    top: -10px;
    right: -30px;
  background-size: contain; 
  background-repeat: no-repeat;
}
.drop-5 {
    height: 80px;
    width: 80px;
    bottom: 150px;
    left: 100px;
    z-index: 1;
  background-size: contain; 
  background-repeat: no-repeat;
}
a, input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
} */
